.wpm-wrapper {
  background-color: hsl(0, 0%, 95%);
   margin-top: 50px;
}

.grid-title {
  color: hsl(138, 100%, 9%);
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0px;
  margin-bottom: 10px;
}

.wpm-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  vertical-align: middle;
}