// ag-grid.scss defines structural styles and should be imported first

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import "~ag-grid-community/src/styles/ag-theme-base/sass/ag-theme-base-mixin.scss";

.ag-theme-custom-react {
  @include ag-theme-base((
          background-color: hsl(180, 30%, 99%),
          odd-row-background-color: hsl(0, 0%, 95%),
          header-background-color: #366363,
          header-foreground-color: white,
          selected-row-background-color: hsl(180, 21%, 54%),
          range-selection-border-color: transparent,
          checkbox-checked-color: hsl(180, 30%, 30%),
          header-column-separator: true,
          borders: true,
          header-height: 35px,
  ));
}

.ag-theme-custom-react2 {
  @include ag-theme-base((
          background-color: hsl(180, 30%, 99%),
          odd-row-background-color: hsl(0, 0%, 95%),
          header-background-color: hsl(219, 82%, 22%),
          header-foreground-color: white,
          selected-row-background-color: hsl(219, 82%, 60%),
          range-selection-border-color: transparent,
          checkbox-checked-color: hsl(180, 30%, 30%),
          header-column-separator: true,
          borders: true,
          header-height: 35px,
  ));
}